body {
    margin: 0;
    padding: 0;
    font-family: 'Hanalei Fill', cursive;
    background-image: url(../img/123.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;


}

.title {
    font-family: 'Hanalei Fill', cursive;
    font-weight: 400;
    color: yellow;
    font-size: 20px;
    text-align: center;
}

.key {

    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 40px;
    text-decoration: none;
    margin: 0 auto;
    outline: none;
    border: none;

}

.keyUp {
    margin-right: 10px;
    background-color: yellowgreen;
}

.keyDown {
    background-color: yellowgreen;

}

.pluse {
    font-size: 20px;
    margin: 0 auto;
    color: white;

}

.minus {
    font-size: 20px;
    margin: 0 auto;
    color: white;
}